S-IDE/FrameworksModules/trunk/com.bluexml.side.Framework.facetMapWebApp/src/main/webapp/facetmap2_0.dtd

<!--         FacetMap facet and resource schema          -->
<!--                    Version 2.0                      -->
<!--                  by Travis Wilson                   -->
<!--                http://facetmap.com                  -->
<!--                                                     -->
<!-- For definitions of terms used here, please consult: -->
<!--            http://facetmap.com/glossary             -->

<!--
   Differences from version 1.0:
   - The use of the term "facet" has been brought into conformance with
     its more common definition in the faceted classification community.
     The old <facet> element has been changed to <heading> to reflect this.
     The <taxonomy> element remains, and represents a facet with hierarchically
     arranged headings. See http://facetmap.com/glossary for more info.
   - For the same reason, the "rootfacet-title" attribute of <taxonomy> has been
     changed to "root-heading-title".
   - The "rootfacet-id" attribute of <taxonomy> has been removed. The root heading
     in a taxonomy now has the same ID as the taxonomy it's in.
   - The <f> attribute has been changed to <map> to clarify purpose.
   - The "taxid" attribute, in both the <taxonomy> and <map> elements, has been
     appropriately changed to "facetid". This attribute also appears in the
     <range> element and will also be used for any new types of facet in the
     future.
   - The <spectrum and <range> elements have been added to represent a different
     type of facet, one with nondiscrete scalar values (for example, price, date,
     and other numerical values).
   - The <handler> element has been removed. If your facetmap needs to use a
     custom handler, you'll probably need to extend this DTD for your own use
     anyway.

   Thanks for sticking with us through these changes; they're making FacetMap
   a much better and more accessible technology.
-->

<!--
  A complete facetmap first defines facets as groups of headings, and then
  identifies the resources and what headings each resource falls under. In other
  words, it first presents the "top-down" browsing structure, then presents
  the resources and their metadata from a "bottom-up" point of view.
-->

<!ELEMENT facetmap ((taxonomy | spectrum)+, resources?)>
<!ATTLIST facetmap
  title CDATA #IMPLIED
>

<!--
  The taxonomy facet lets you define the headings that may be mapped to your
  resources, and their position in a tree-like hierarchical structure.

  You can either spell everything out here, or you can import an existing
  taxonomy from somewhere else via the "href" attribute. If you do import
  a taxonomy, you can still define new headings within the <taxonomy> element,
  and they'll be added on to the imported structure.

  Attributes:

  facetid - A short reference ID used elsewhere to refer to this taxonomy. If
          omitted, facets are numbered sequentially with integer values, which
          can make life complicated, so you should provide one.

  title - Text representing this taxonomy, displayed to the user when
          browsing. This should be something that characterizes all headings in
          the taxonomy. For example, "Management Structure" or "Geography"
          are appropriate; "CEO" or "The World" are not (these would instead
          be good values for the "root-heading-title" attribute).

  root-heading-title - The root heading is the single heading at the top of the
          entire taxonomy, the one that ties everything together. This is
          where the value "CEO" or "The World" would be appropriate, since
          those titles specifically characterize the heading at the top.
          You don't have to explicitly use this root heading, but when a user
          starts to browse a FacetMap, the browsing starts off in the
          root heading of each taxonomy. So you may want to provide a
          title in this attribute, since some pages may display that
          title. The default is to make the root-heading-title the same as
          the taxonomy's title.

  href - Including this attribute means you want to import a taxonomy instead
          of defining one from scratch. The value must be a valid HTTP URL,
          e.g.: http://facetmap.com/conf/wine.xml#varietal

          The anchor (the part following the "#" mark) is the facetid of the
          taxonomy you want. If the document you import has only one facet,
          you don't need to include an anchor.
-->

<!ELEMENT taxonomy (heading+)>
<!ATTLIST taxonomy
  facetid ID #IMPLIED
  title CDATA #IMPLIED
  root-heading-title CDATA #IMPLIED
  href CDATA #IMPLIED
>

<!--
  Within the taxonomy facet, you define its headings and their structure. The
  "heading" element harnesses the taxonomic nature of XML, so you don't have
  to explicitly detail the parent/child relationship (or, if you prefer,
  the broader-term/narrower-term relationship) between headings. If heading B
  is a child (narrower term, subset, etc.) of heading A, then the heading B
  element should be inside the heading A element. That's it.

  Attributes:

  id - A short ID used elsewhere to refer to this heading.

  title - Text representing this heading, displayed to the user when browsing.

  parent - At times, most notably if you imported a taxonomy and wish to
           add headings, you need to explicitly identify the parent of a
           heading. If the "parent" attribute is present and refers by ID to
           another heading in the taxonomy, this heading will be added as a
           child of that specified heading, instead of being added as
           a child of the heading that contains it in the XML structure.
-->

<!ELEMENT heading (heading*)>
<!ATTLIST heading
  id ID #REQUIRED
  title CDATA #REQUIRED
  parent CDATA #IMPLIED
>

<!--
  The spectrum is another type of facet, used for ranges of nondiscrete scalar
  characteristics such as price, date, number of pageviews, and other numerical
  attributes. Any range of values that falls between the minimum and maximum
  values is a valid selection within this facet. Providing a spectrum facet
  suggests that the user is free to select any such range.

  In addition, ranges within the facet may optionally be defined by the author in
  this document, so that those ranges can be explicitly presented as choices to
  the user. The <range> element provides those definitions.

  For the purposes of mapping resources to headings, the spectrum implicitly
  contains all headings that correspond to numerical values between the specified
  minimum and maximum (inclusive).
  
  A facetmap engine is not required to support spectrum facets.
  
  The attributes of <spectrum> are the same as those for <taxonomy>, plus:
  
  minimum - The smallest allowable value (inclusive) for the range.
  
  maximum - The largest allowable value (inclusive) for the range.
-->

<!ELEMENT spectrum (range*)>
<!ATTLIST spectrum
  facetid ID #IMPLIED
  title CDATA #IMPLIED
  minimum CDATA #IMPLIED
  maximum CDATA #IMPLIED
  root-heading-title CDATA #IMPLIED
  href CDATA #IMPLIED
>

<!--
  The <range> element is like a heading, but represents a range of values within
  a <spectrum> facet. Although the user is free to request any range, the author
  might use <range> to present useful ranges to the user, such as the years
  1865-1914 in American history, or 0-10 dollars for bargain wine deals.

  Attributes:

  id - the identifier used when referring to this range.

  title - this may be specified, but if it is not, the software will create
          a title based on the minimum and maximum values.

  minimum - the minimum value for all resources included in this range.

  maximum - the maximum value for all resources included in this range.
-->

<!ELEMENT range EMPTY>
<!ATTLIST range
  id ID #REQUIRED
  title CDATA #IMPLIED
  minimum CDATA #IMPLIED
  maximum CDATA #IMPLIED
>

<!--
  The generic <facet> element is provided for those who want to import a
  facet from an external document, but don't know what type it is (or the type
  is subject to change). Therefore there's a limited set of attributes, and
  "href" is required.
  
  When using <facet>, be careful not to import a facet of a type that your
  implementation does not support.
  
  (This element is experimental and may not be recognized.)
-->

<!ELEMENT facet EMPTY>
<!ATTLIST facet
  facetid ID #IMPLIED
  title CDATA #IMPLIED
  href CDATA #REQUIRED
>

<!--
  The <resources> element encapsulates the set of resources to be mapped.
-->

<!ELEMENT resources (resource+)>

<!--
  The <resource> element is a reference to a resource. Typically, the "href"
  attribute is used to point to the resource itself, and the "title"
  attribute identifies the resource during browsing. It is also possible
  for the value of "title" to constitute the entire resource, in which
  case "href" would be omitted.
-->

<!ELEMENT resource (map*)>
<!ATTLIST resource
  href CDATA #IMPLIED
  title CDATA #REQUIRED
>

<!--
  The <map> element expresses a connection between this resource and either
  1) a heading defined earlier, or
  2) a specific value in a spectrum.
  The "facetid" attribute refers to a facet, and the
  "heading" attribute denotes which heading, in that facet, applies to this
  resource. For example, this element:

    <resource title="The Hitchhiker's Guide to the Galaxy">
      <map facetid="setting" heading="space" />
      <map facetid="genre" heading="comedy" />
    </resource>

  indicates that a facet exists above where facetid="setting", and that
  it contains a heading with id="space" - and because this resource is
  interesting to people who've selected that heading, a mapping exists
  between them. (Same goes for the "comedy" heading in the "genre" facet.)

  If the facet you're mapping to is a spectrum, the "heading" element may
  refer to a numerical value within the the spectrum instead of a predefined
  heading. However, to associate a resource with a range of values, you must
  define the range and then refer to it as usual in the "heading" element here.

  Because headings from different imported facets may have the same ID, it
  may not always be possible to determine which heading is intended by the
  "heading" attribute. It's safer to include the "facetid" attribute to ensure
  this does not happen. If the facetid attribute is omitted and cannot be
  determined, it is assumed that the first <map> maps to the first facet in
  this FacetMap, the second <map> to the second facet, etc.
-->

<!ELEMENT map EMPTY>
<!ATTLIST map
  facetid CDATA #IMPLIED
  heading CDATA #REQUIRED
>
